@media (hover: hover) {
  a:hover {
    color: var(--primary-color-hover);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}



/* Colors */
:root {
  --primary-font: "Amaranth";
  --secondary-font: "Lekton";
  --color-font: white;
  --border-radius: 6px;
  --primary-color: #FF9966;
  --secondary-color: #6495ED;
  --support-color: #0abf79;
  --background-color: #c4d7f9;
  --subtitle-color:  #a84210;
}

/* Fonts */
.titles {
  font-size: 32px;
}

.subtitles {
  font-size: 14px;
  color:var(--subtitle-color);
  font-weight: bold;
}

.normal-text {
  font-size: 14px;
}

/* >400px y <800px */
@media screen and (min-width: 401px) and (max-width: 799px) {
  .titles {
    font-size: 40px;
  }

  .normal-text {
    font-size: 16px;
  }

  .subtitles {
    font-size: 16px;
    color:var(--subtitle-color);
  }

  .btn{
    font-size: 16px;
  }
}

/* >=800px */
@media screen and (min-width: 800px) {
  .titles {
    font-size: 48px;
  }

  .normal-text {
    font-size: 18px;
  }

  .subtitles {
    font-size: 18px;
    color:var(--subtitle-color);
  }
   .btn{
    font-size: 18px;
  }
}

/* tooltips */
h6 {
  font-size: 12px;
}


/* Elements */
.btn {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.primary-button {
  background-color: var(--primary-color);
}

.primary-button:hover {
  background-color: var(--subtitle-color);
}

.secondary-button {
  background-color: white;
  border: var(--primary-color) 2px solid;
  color: var(--primary-color);
}

.secondary-button:hover {
  background-color: white;
  color: var(--subtitle-color);
  border: var(--subtitle-color) 2px solid;
}

a {
  text-decoration: none;
}